@import url('https://fonts.googleapis.com/css?family=Anton|Secular+One');

.back-image{
    background-image: url("../../images/books1.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 1;
}
.signup-page{
    z-index: 999;
    
    height: 1000px;
   
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-container{
    z-index: 9999;
    position: absolute;
    width: 30%;
    border: 1px solid rgba(233, 234, 243, 0.5);
    border-radius: 2px;
    padding: 0 10px 10px 10px;
    background-color: rgb(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.signup-form{
    position: relative;
    margin: 0 0 20px 0;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-self: flex-start;
    width: 100%;
} 
#name{
    color: rgb(238, 238, 230);
    position: relative;
    background-color:rgb(0,0,0,0.1);
    border: 1px solid rgba(233, 234, 243, 0.5);
    font-family: 'Anton', sans-serif;
    top: 73px;
    left: 4px;
    width: 68%;
    height: 29px;
    border-radius: 2px;
    margin: 7px;
    align-self: flex-start
}

#name::placeholder{
    position: relative;
    left: 5px;
    font-family: 'Anton', sans-serif;
    color: rgba(173, 165, 165, 0.7)
}

#name:focus{
    outline: none !important;
    border:1px solid linear-gradient(to right,rgb(170, 35, 35),#52200c);
    box-shadow: 0 0 10px rgb(141, 164, 189);
}
#email{
    color: rgb(238, 238, 230);
    position: relative;
    background-color:rgb(0,0,0,0.1);
    border: 1px solid rgba(233, 234, 243, 0.5);
    font-family: 'Anton', sans-serif;
    top: 73px;
    left: 4px;
    width: 68%;
    height: 29px;
    border-radius: 2px;
    margin: 7px;
    align-self: flex-start
}

#email::placeholder{
    position: relative;
    left: 5px;
    font-family: 'Anton', sans-serif;
    color: rgba(173, 165, 165, 0.7)
}

#email:focus{
    outline: none !important;
    border:1px solid linear-gradient(to right,rgb(170, 35, 35),#52200c);
    box-shadow: 0 0 10px rgb(141, 164, 189);
}

#password{
    color: rgb(238, 238, 230);
    position: relative;
    background-color:rgb(0,0,0,0.1);
    border: 1px solid rgba(233, 234, 243, 0.5);
    font-family: 'Anton', sans-serif;
    top: 73px;
    left: 4px;
    width: 68%;
    height: 29px;
    border-radius: 2px;
    margin: 7px;
    align-self: flex-start
}

#password::placeholder{
    position: relative;
    left: 5px;
    font-family: 'Anton', sans-serif;
    color: rgba(173, 165, 165, 0.7)
}

#password:focus{
    outline: none !important;
    border:1px solid linear-gradient(to right,rgb(170, 35, 35),#52200c);
    box-shadow: 0 0 10px rgb(141, 164, 189);
}
#confirm-password{
    color: rgb(238, 238, 230);
    position: relative;
    background-color:rgb(0,0,0,0.1);
    border: 1px solid rgba(233, 234, 243, 0.5);
    font-family: 'Anton', sans-serif;
    top: 73px;
    left: 4px;
    width: 68%;
    height: 29px;
    border-radius: 2px;
    margin: 7px;
    align-self: flex-start
}

#confirm-password::placeholder{
    position: relative;
    left: 5px;
    font-family: 'Anton', sans-serif;
    color: rgba(173, 165, 165, 0.7)
}

#confirm-password:focus{
    outline: none !important;
    border:1px solid linear-gradient(to right,rgb(170, 35, 35),#52200c);
    box-shadow: 0 0 10px rgb(141, 164, 189);
}

#signup-button{
    position: relative;
    border: 1px solid rgba(233, 234, 243, 0.5);
    top: 18px;
    margin: 15px;
    width: 20%;
    height: 33px;
    background-color: rgba(129, 113, 92, 0.1);
    border-radius: 2px;
    align-self: flex-end;
}
#signup-button:hover{
    background: linear-gradient(to right,rgb(170, 35, 35),#52200c);
}
#signup-button:focus{
    outline: none !important;
    border:1px solid linear-gradient(to right,rgb(170, 35, 35),#52200c);
    box-shadow: 0 0 10px rgb(141, 164, 189);
}

#login-link {
    color: white;
    text-decoration: none;
}